@font-face {
src: url(./fonts/NunitoSans-Regular.ttf);
font-family: Nunito;
}
@font-face {
    src: url(./fonts/YesevaOne-Regular.ttf);
    font-family: YesevaOne;
}

body {
    margin: 0;
    /*background-color: black;*/
    background-color: #FFFFFF;
    font-family: Nunito;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
.button {
    text-decoration: none;
    display: inline-block;
    padding: 19px 40px;
    vertical-align: top;
    font-size: 11px;
    border-radius: 2px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    /*outline: 0;*/
    border: 1px;
    border-color: transparent;
    transition-duration: .3s;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    background-color: #E3B873;
    
}

.button--color {
    background-color: #E3B873;
}

.button--color:hover {
    background-color: transparent; 
}

/*Header body
==========================*/
.logo {
    color: #E3B873;
}

.header {
    background-color: #000;   
}

.container_header {
    margin: 0 auto;
    max-width: 1250px;
    height: 83px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}


/*Navigation
=========*/


.header-navigation {
    display: flex;
    list-style: none;
    font-size: 11px;
    color: #fff;
}
.header-navigation_item {
    margin-right: 47.09px;
    opacity: .75;
    transition: opacity .1s linear
}
.header-navigation_item a {
    text-decoration: none;
    color: #FFFFFF;
}

li a:hover{
    color: #E3B873;
}

.phone {
    font-size: 11px;
    color: #E3B873;
}

.button__header {
    padding: 13px 33px;
}

/*Intro
=========*/

.intro {
    background-image: url(./images/block_1.jpg);
    height: 707px;
    background-size: cover;
    padding-top: 194px;
    position: relative;
    text-align: left;
}

.intro__inner {
    max-width: 1250px;
    margin: 0 auto;
}
    
.visible-text {
    position: relative;
    width: 100%;
    color: #fff;
    z-index: 1;
}
.intro__title {
    margin: 0;
    width: 45%;
    font-family: YesevaOne;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: 53px;
    text-transform: uppercase;
    max-width: 676.11px;
    margin-bottom: 19px;   
}
.colortext {
    color: #E3B873;
}
.intro__subtitle {
    width: 45%;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 41px; 
}
.st_page_button {
    display: flex;
    position: relative;
    z-index: 1;
}
.button__2 {
    margin-left: 20px;
}

.intro-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

/*Completed projects
=========*/
.container_1 {
    background-color: #000;
    height: 1074px;
}

.container_1_wrapper {
    max-width: 1250px;
    margin: 0 auto;
}

.block_2 {
    display: flex;
    vertical-align: top;
    padding-top: 107px;
}

.small__header {
    margin-top: 69.36px;
    width: 30%;
    height: 66px;
    color: #E3B873;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    font-family: YesevaOne;
    font-weight: 400;
    margin-bottom: 34px;
}

.container_1_text {
    width: 83%;
    height: 86px;
    font-size: 14px;
    word-spacing: 3px;
    color: #FFFFFF;
    line-height: 26.73px;
    margin-bottom: 42px;
}

.cities {
    justify-content: flex-end;
    text-transform: uppercase;  
}
li {
    display: inline;
    list-style: none;
}

ul {
    margin: 0;
    display: inline-block;
}
ul:first-child {
    padding-left: 0;
}

.city:last-child {
    padding-right: 0;
}

.city {
    font-family: YesevaOne;
    text-decoration: none;
    font-size: 14px;
    padding: 0 60.5px 0 0;
    color: #FFFFFF;
}

.city a {
    text-decoration: none;
    color: grey;
}

.city :hover {
    position: relative;
    border-bottom: 1px solid;
    padding-bottom: 3px;  
}

.image__room {
    margin-top: 52.68px;
}


/*Features
=========*/
.features {
    width: 70%;
    display: flex;
    flex-wrap: wrap;  
}
.features__item {
    margin: 0;
    display: flex;
    flex-flow: wrap;
    color: #FFFFFF;
    text-align: left;
    width: 50%;
}

.feature__title {
    width: 100%;
    white-space: nowrap;
    font-family: YesevaOne;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 9px;
}

.feature__text {
    margin-bottom: 34px;
    width: 150px;
}

.projects_nav {
    display: flex;
    margin: 50px 0;
    width: 205.68px;
    height: 13.28px;
    cursor: pointer;
    align-items: center;
}
.projects_nav:first-child {
    margin: 0;
}
  .point__1 {
    width: 0;
    height: 0;
    border-top: 7.59px solid transparent;
    border-right: 13px solid #FFFFFF;
    border-bottom: 7.59px solid transparent;
    float: left; 
  }
  .line {
    margin-top: 7px;
    width: 40.51px;
    background: #FFFFFF;
    height: 1.34px;
    float: left;
  }


.dot__pages {
    margin: 0 17px;
    width: 63.78px;
    height: 9.57px;
    display: flex;
    justify-content: space-between;
}

.dot {
    width: 9.57px;
    height: 9.57px;
    background-color: #FFFFFF;
    opacity: 0.3;
    border-radius: 50%;   
}

.dot__pages :hover{
    color: #FFFFFF;
    opacity: 1;
}

.point__2 { 
    width: 0;
    height: 0;
    border-top: 7.59px solid transparent;
    border-left: 13px solid #FFFFFF;
    border-bottom: 7.59px solid transparent;
    float: left;
  }
  


/*Online control
=========*/
.container_2 {
    margin: 0 auto;
    background-color: #FFFFFF;
    height: 1950px;
    max-width: 1250px;  
}


.online_control {
    height: 335px;
    margin-top: -335px;
    background-color: #000;
}

.center__text {
    position: relative;
    color: #FFFFFF;
    text-align: center;
    
    text-transform: uppercase;
    font-family: YesevaOne;
    font-weight: 400;
    margin-bottom: 12.79px;
}

.flex-wrap__1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vector {
    padding: 9.47px;
}

.line__cam {
    background-color: #E3B873;
    height: 1.54px;
    width: 32px;
}



.container__repair_overlay {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: -217px;
}

.contrainer__repair_image {
    background: url('./images/home_repair.jpg') no-repeat center;
    width: 817px;
    height: 434px;
}


.repair_work-overlay {
    width: 817px;
    height: 434px;
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
}


.circle {
    margin-top: 174px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #E3B873;
    z-index: 1;
    content: '';
    position: absolute;
    cursor: pointer;
}

.play { 
    margin-top: 203px;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-left: 28px solid #FFFFFF;
    border-bottom: 14px solid transparent;
    position: absolute;
    z-index: 51;
    cursor: pointer;
}


.line__under__picture {
    margin: 0 auto;
    height: 1.54px;
    width: 55px;
    background-color: #E3B873;
    position: relative;
    margin-top: 62.5px;
}


.submit__application {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pos {
    max-width: 681px;
    font-weight: 400;
    font-size: 18px;
    line-height: 36.83px;
    text-align: center;
    margin-top: 34.46px;
    margin-bottom: 93.46px;
}

.application_border {
    max-width: 520px;
    height: 45.04px;
}
.form {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    position: relative;
}

.form__group {
    position: relative;
    width: 231px;
}
.form label {
    position: absolute;
    top: 0;
    z-index: -1;
    transition: 0.3s;
}

.form input {
    width: 100%;
    padding: 0 0 8px 0;
    border: none;
    border-bottom: 1px solid #9A9A9A;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    appearance: textfield;
    font-size: 14px;
}
.content-name {
    font-size: 13px;
    color: #9A9A9A;
}
.button__3 {
     margin-left: 49px;
}
.button__3:hover {
    background-color: #E3B873; 
}

.personal__data_1 {
    margin-top: 39px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.92px;  
}
.personal__data_2 {
    color: #fff;  
}

input[type="checkbox"] + label {
    display: block;
    cursor: pointer;
    padding: 0.2em;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    border: 0.1em solid #000;
    border-radius: 0.2em;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    margin-right: 0.2em;
    padding-bottom: 0.3em;
    vertical-align: middle;
    transition: .2s;
}
input[type="checkbox"] + label::before {
    background-color: #E3B873;
    
}
input[type="checkbox"]:checked + label::before {
    color: #fff;
    border-color: #E3B873;
    content: url(./icons/xx.svg);  
}

input[type="checkbox"] + label :active ::before {
    transform: scale(0);
}
    
        /*Types of repair
           =========*/

.facilities {
    margin-top: 147.85px;
}
    

.center__text_2 {
    color: black;
    font-size: 20px;
    font-family: YesevaOne;
    line-height: 27.72px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 13px;
}
.pics_block {
    margin-top: 31px; 
}
.content__block {
    display: flex;
    height: 608px;
    justify-content: center;
    position: relative;   
}

.wrapper_block {
    height: 617px;
    max-width: 392px;
    margin-right: 2%;  
}
.wrapper_block:last-child {
    margin-right: 0;
}
.picture__block {
 position: relative;
 z-index: 1;     
}

.white__box {
    max-width: 330px;
    height: 286px;
    left: 8%;
    color: black;
    background-color: #FFFFFF;
    margin-top: -123px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    position: relative;
    z-index: 20;   
}

.options__2 {
    display: list-item;
    list-style: disc;
    font-size: 13px;
    font-weight: 400;
    line-height: 26.6px;
    color: #959595;
    text-align: left;
}

.price__option {
    max-width: 228px;
    height: 54px;
    background-color: #E3B873;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.95px;
    padding: 17px 21.44px;
    text-transform: uppercase;
    font-family: YesevaOne;
    margin-top: 9%;
}
.decor_option__header {
    font-size: 18px;
    line-height: 25px;
    text-transform: none;
    padding: 16px 68px 31px 23px;
    height: 21px;
    max-width: 309px;
    color: #363636;
}


/*Measurement
=========*/


.container_3 {
    width: 100%;
    background-color: #FFFFFF;
    height: 960px;
    margin: 0 auto;
    
}
.measurement {
    margin: 0 auto;
    max-width: 1250px;
    display: flex;
    justify-content: center;
    height: 750px;
}

.left_block {
    background-image: url(./images/left_wall.jpg);
    background-repeat: no-repeat;
    width: 60%;
    height: 645px;  
    padding-top: 104px;
}
.left_block__content {
    padding-left: 30%;
}


.right_block {
    width: 40%;
    height: 509px;
    background-color: black;
    align-self: flex-start;
    margin-top: 112px;
}

.input__header {
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    line-height: 25.75px;
    font-weight: 400;
    max-width: 297px;
    width: 60%;
    
}

.contact-form {
    max-width: 506px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.input-fields {
    display: flex;
    flex-direction: column;
    
}

.input-fields .input {
    margin: 24px 0;
    background: transparent;
    border: none;
    color: #FFFFFF;
    border-bottom: 1px solid #9A9A9A;
    
}
.button_call {
    max-width: 213px;
    text-align: center;
    background-color: #E3B873;
    margin-top: 39px;
    margin-left: 47%;
}
.agreed__2 {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 22.92px;
    font-weight: 400;
}
::-webkit-input-placeholder{
    color: #FFFFFF;
}

.span__padding {
    padding-bottom: 5px;
}

.list__list {
    list-style: none;
}

.left_block__item {
    display: flex;
    height: 60px;
    align-items: baseline;
    margin-bottom: 70px;
}
.list-number {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 8px solid white;
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    margin-right: 10px;
    align-items: center;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.list__wrapper {
    align-self: center;
    width: 60%;
}

.options__3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
    color: #363636;
    text-align: left;
}

.pig_icon {
    margin-top: 26px;
    margin-left: 6%;
    position: relative;
    display: flex;
    width: 100%;
    height: 72px;
    align-items: center;  
}



.pig_icon__round {
    height: 72px;
    width: 72px;
    background-color: #E3B873;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
}
.pig_icon__pig {
    height: 72px;
    width: 72px;
    background-image: url(./icons/pig.svg);
    background-repeat: no-repeat;
    z-index: 10;
    position: absolute;
    margin-left: 16px;
    margin-top: 30px;
    
}
.pig_icon__dollar {
    background-image: url(./icons/S.svg);
    background-repeat: no-repeat;
    width: 8.07px;
    height: 11.18px;
    position: absolute;
    z-index: 15;
    margin-left: 31px;
    margin-top: -3px;
}
.discount {
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    color: #E3B873;
    line-height: 25.78px;
    margin-left: 20%;
    align-items: center;
    width: 45%;  
}

/*Background room
=========*/

.final_wrapper {
    background: url(./images/background_image3.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    height: 865px;
}
.final_wrapper_background {
    max-width: 1250px;
    margin: 0 auto;
}

.repair_styles{
    display: flex;
    justify-content: center;
    position: relative;  
}

.background_room__overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}


.styles_list {
    position: relative;
    z-index: 2;
    margin-top: 137.47px;  
}

.styles_list__header {
    font-size: 27px;
    font-weight: 400;
    line-height: 37.42px;
    color: #E3B873;
    width: 60%;
    text-transform: uppercase;
    font-family: YesevaOne;
    margin-bottom: 47px;
}

.styles_list_wrapper {
    display: flex;
    margin: 0 auto;
    width: 37%;
    }


.styles_list__list{
    padding: 0;
    width: 45%;
}
.options__4 {
    display: list-item;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 38.19px;
    color: #FFFFFF;
    cursor: pointer;
    padding-bottom: 14px; 
}

.options__4:hover {
    position: relative;
    border-bottom: 1px solid;
    color: #E3B873;
    transform-origin: initial;
}

.repair_styles_block__wrapper {
    margin: 0 auto;
    display: flex;
    width: 63%;
    z-index: 2;
}
.repair_styles_block1 {
    margin-top: -45px;
    max-width: 354px;
    margin-right: 5%;
    
}
.padding_bottom {
    padding-bottom: 39px;
}
.repair_styles_block2 {
    margin-top: -117px;
    max-width: 354px;
}


/*Clients block
=========*/


.clients-block {
    background-image: url(./icons/try.svg);
    background-size: contain;
    height: 1180px;
}

.clients-block_wrapper {
    margin: 0 auto;
    max-width: 1250px;
}

.clients-block_wrapper_head {
    display: flex;
    flex-direction: column;
    text-align: center;
}



.clients-block_header {
    color: #181818;
    font-size: 20px;
    line-height: 27.72px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: YesevaOne;
    margin-top: 110.47px;
    margin-bottom: 16.49px;
}

.icon_hands {
    margin-bottom: 27.65px;
}

.recommendation {
    margin: 0 auto;
    font-size: 18px;
    line-height: 29.46px;
    font-weight: 400;
    width: 30%;
    margin-bottom: 39px;
}

.reviews_wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;   
}

.reviews {
    max-width: 376px;
    margin-right: 54px;   
}

.reviews:last-child {
    margin-right: 0;
}
.reviews_content {
    max-width: 376px;
    height: 428px;
    padding-top: 15px;
    padding-left: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0,0,0, 0.04);
}

.reviews_header {
    display: flex;
    align-items: center;
}

.review_photo_1 {
    background-image: url(./images/review_1.jpg);
    width: 76px;
    height: 76px;
    border-radius: 50%;
}
.review_photo_2 {
    background-image: url(./images/review_2.jpg);
    width: 76px;
    height: 76px;
    border-radius: 50%;
}
.review_photo_3 {
    background-image: url(./images/review_3.jpg);
    width: 76px;
    height: 76px;
    border-radius: 50%;
}

.review_name {
    margin-left: 17px;
    font-family: YesevaOne;
    font-size: 18px;
    line-height: 22.87px;
    width: 50%;
    text-align: left;
}

.review_text {
    padding-top: 15px;
    font-size: 13px;
    line-height: 23.4px;
    font-weight: 400;
    color: #959595;
    max-width: 324.08px;
    text-align: left;
}

.square-meters_days {
    max-width: 294px;
    height: 54px;
    background-color: #E3B873;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
    font-size: 17px;
    font-family: YesevaOne;
    font-weight: 400;
    font-style: normal;
    line-height: 23.56px;
    margin-top: -27px;  
}

.questions_form {
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 883px;
    height: 446px;
    background-color: black;
    position: absolute;
    margin-top: -222px;
    z-index: 100;
}

.questions_form__header {
    padding-top: 34.4px;
    font-family: YesevaOne;
    font-size: 20px;
    line-height: 27.72px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
}

.inside-form {
    margin: 0 auto;
    padding: 50px 181px;
    display: flex;
    flex-direction: column;
}
.input-fields_box {
    display: flex;
    width: 60%;
}

.content-name {
    text-align: left;
}

.input-fields_flex {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.button__4 {
    margin-top: 50.45px;
    width: 50%;
    align-items: center;
    margin-left: 25%;
}

.contact_form {
    background-image: url(./images/background_image4.jpg);
    background-size: cover;
    height: 953.9px;
    position: relative;
    text-align: center;
}
.contact_form_wrapper {
    margin: 0 auto;
    max-width: 1250px;
    height: 953.9px;
}

.contact_form_location {
    display: flex;
    flex-direction: column;
    height: 953px;
}

.adress-text-info {
    margin: 0 auto;
    font-family: YesevaOne;
    font-size: 20px;
    line-height: 27.72px;
    font-weight: 400;
    text-align: center;
    color: #E3B873;
    max-width: 589px;
    text-transform: uppercase;
    margin-top: 274.67px;
    margin-bottom: 26px;
    z-index: 3;
}

.social_media {
    margin: 0 auto;
    max-width: 71px;
    display: flex;
    margin-bottom: 40px;
    z-index: 3;

}
.mail_button {
    background-image: url(./icons/mail-icon.svg);
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.insta_button {
    background-image: url(./icons/inst.svg);
    width: 28px;
    height: 28px;
    margin-left: 15px;
    cursor: pointer;
}
.office_map {
    margin: 0 auto;
    background-image: url(./images/office-map.jpg);
    width: 70%;
    height: 466px;
    z-index: 3;  
}

/*Footer
=========*/

#footer {
    background-color: #000;
    position: relative;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    height: 133px;
    align-items: center;
}